---
app: tour-of-heroes
sql:
  - tags:
      - back
    outputDirectory: ../db/init
    procedural:
      crebasFile: "02_create_tables.sql"    
      indexFKFile: "03_create_fk.sql"
      uniqueKeysFile: "04_create_uk.sql"    
      initListFile: "05_init_data.sql"
jpa:
  - tags:
      - back
    outputDirectory: ../toh-back/src/main
    entitiesPath: "javagen:topmodel.toh.entities.{module}"
    daosPath: "javagen:topmodel.toh.daos.{module}"
    dtosPath: "javagen:topmodel.toh.dtos.{module}"
    persistenceMode: Jakarta